* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background-color: rgb(65, 57, 57);
  min-height: 100vh;
  padding: 3%;
}
.App_list {
  width: 90%;
  margin: 1% auto;
  border: 5px solid white;
  border-radius: 10px;
  min-height: 85px;
}
